html {
    background-color: #14141E;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.nav-link .router-link-exact-active .router-link-active {}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
}

.vertical-menu {
    width: 20vw;
    color: white;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 1em;
    /* align-items: center; */
}

.vertical-menu .nav-link {
    display: block;
    padding: 1rem;
    text-decoration: none !important;
    color: white;
    border-radius: inherit;
    
    border-top: 2px solid #2CB2FF;
    border-left: 2px solid #2CB2FF;
    border-right: 2px solid #2CB2FF;
}

.nav-link:hover {
    background-color: #2CB2FF;
}

.nav-link:last-child {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border: 2px solid #2CB2FF;
}

.hidden {
    width: 5vw !important;
}

.button-hidden {
    width: 5.9vw !important;
}

.toggle-button {
    padding-top: 4px;
    padding-bottom: 2px;
    color: white;
    top: 0;
    /* z-index: 9000; */
    width: 19.7vw;
    border-top: 2px solid #2CB2FF;
    border-left: 2px solid #2CB2FF;
    border-right: 2px solid #2CB2FF;
}

.toggle-button:hover {
    background-color: #2CB2FF;
}